@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

header {
	width: 200px;
	height: 90vh;
	background-color: #fff;
	position: absolute;
	left: 5vw;
	top: 5vh;
	padding: 40px 30px;
	z-index: 2;

	ul {
		margin-top: 40px;

		li {
			padding: 10px 0;
			display: flex;
			flex-wrap: wrap;
			align-content: center;

			a {
				width: 100%;
				padding: 20px 0;
				font-family: cinzel;
				color: #111;
			}

			&::after {
				content: '';
				display: block;
				width: 30px;
				height: 1px;
				background: #aaa;
			}
		}
	}
}

.sns {
	position: absolute;
	top: 5vh;
	right: 5vw;
	display: flex;
	gap: 30px;
	z-index: 2;

	a {
		width: 34px;
		height: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		color: #fff;
		padding: 10px;
		border: 1px dashed #fff;
	}
}

.phoneBox {
	width: 450px;
	height: 787px;
	background: url(../img/bgPhone.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-90%, -50%);
	z-index: 2;

	.frame {
		width: 250px;
		height: 444px;
		position: absolute;
		top: 175px;
		left: 98px;
		overflow: hidden;

		ul {
			width: 300%;
			height: 100%;
			display: flex;

			li {
				width: 33.333%;
			}
		}
	}

	.prev,
	.next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.prev {
		left: 0;
	}
	.next {
		right: 0;
	}
}

.txtBox {
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(30%, -60%);
	z-index: 2;

	.txt {
		width: 100%;
		height: 310px;
		margin-bottom: 50px;
		overflow: hidden;

		ul {
			width: 300%;
			display: flex;

			li {
				width: 33.333%;
			}
		}
	}
}

.bg {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;

	ul {
		width: 300%;
		height: 100%;
		display: flex;

		li {
			width: 33.333%;

			@for $i from 1 through 3 {
				&:nth-of-type(#{$i}) {
					background: url(../img/bg#{$i}.jpg) no-repeat center/cover;
				}
			}
		}
	}
}
